---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | DJ Pelón" description="About the project">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About this project"
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.png"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<!-- <h2 class="section-title">Background</h2> -->
				<div class="content">
					<p>
						DJ Pelón was born from the idea of sharing music with our friends while playing some online games
						together. Since we use Discord as our main communication platform, we thought it would be a good
						idea to create a bot that would allow us listen to music together.
					</p>
					<br>
					<p>
						DJ Pelón's name resembles the idea of a DJ in a club, but we wanted to make it more fun and put some
						identity to it. The team is conformed by two developers from a Discord Server called "El Club de los Pelones", 
						which mean "The Balds Club" in Spanish. Since we came friends in that server, we decided to name the bot in 
						honor of where the magic happenned.
					</p>
					<br>
					<p>
						This way, we can use the bot to play music while we play some games together. We hope that this project
						will help you to have fun and share music with yours friends too! 
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 21;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 1 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
