---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';

const projects = [
	{
		prefix: '!',
		command: 'play',
		description: 'Plays a song. You can use a Spotify link or a query.',
	},
	{
		prefix: '!',
		command: 'skip',
		description: 'Skips the current song and plays the next one.',
	},
	{
		prefix: '!',
		command: 'stop',
		description: 'Stops the current song.',
	},
	{
		prefix: '!',
		command: 'leave',
		description: 'Leaves the voice channel.',
	},
	{
		prefix: '!',
		command: 'queue',
		description: 'Shows the current queue. You can use the `skip` command to skip a song.',
	},
	{
		prefix: '!',
		command: 'np',
		description: 'Shows the current song.',
	},
	{
		prefix: '!',
		command: 'volume',
		description: 'Sets the volume. You can put a number from 0 to 100 to set the volume.',
	},
];
---

<BaseLayout
	title="Commands | DJ Pelón"
	description="A list of all the commands Dj Pelón has to offer."
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Commands"
				tagline="A list of all the commands Dj Pelón has to offer."
				align="start"
			/>
				<div class="command-list">
					{
						projects.map(({ prefix, command, description }) => (
								<div class="command-item">
									<div class="prefix">{prefix}</div>
									<div class="content">
										<span class="command">{command}</span>
										<span class="description">{description}</span>
									</div>
								</div>
							))
						}
				</div>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.command-list {
		width: 100%;
		/* max-width: 42rem; */
		margin: 0 auto;
		background-color: #fefefe;
		border-radius: 0.5rem;
		padding: 0.5rem;
	}

	.command-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 0.5rem 0.75rem;
		border-radius: 0.375rem;
		cursor: pointer;
		transition: background-color 0.2s;
	}

	.command-item:hover {
		background-color: #e1c1f5;
	}

	.prefix {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2rem;
		height: 2rem;
		background-color: #7611a6;
		border-radius: 0.375rem;
		color: #ffffff;
	}

	.command-item:hover .prefix {
		background-color: #9f24d8;
	}

	.content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.command {
		color: #1c1c1c;
		font-size: 0.875rem;
		font-weight: 700;
	}

	.description {
		color: #2e3032;
		font-size: 0.875rem;
	}

	.chevron {
		opacity: 0;
		transition: opacity 0.2s;
		color: #9ca3af;
	}

	.command-item:hover .chevron {
		opacity: 1;
	}
</style>
