---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="equalizer" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Play music</h2>
		<p>You can let DJ Pelón play music for you, using a query or a Spotify link.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="low-latency" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Low latency</h2>
		<p>DJ Pelón is designed to be low latency, so you can play music without any lag.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="check" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Easy usage</h2>
		<p>DJ Pelón is easy to use, and has a simple command system. Check them out!</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
